#User defined
user:
  back_end:
    label:
      Backend
    hint:
      Select a backend from the list above
    type:
      select
    values:
      - apache
      - nginx
    target:
      BACK_END
  php_version:
    label:
      PHP version
    hint:
      Select a PHP version from the list above
    type:
      select
    values:
      - 7.4
      - "8.0"
      - 8.1
    target:
      PHP_VERSION
  
  backend_ws:
      disabled_post_install: true
      label:
        Laravel version
      hint:
        Select a laravel version
      type:
        select
      values:
        - 7
        - 8
        - 9
      target:
        LARAVEL_VERSION

  php_error_reporting:
    label:
      Enable PHP error reporting?
    type:
      checkbox
    hint: Check the box to display PHP errors 
    target:
      DISPLAY_PHPERROR
  php_xdebug:
    label:
      Enable PHP extension XDEBUG?
    type:
      checkbox
    hint: Check the box to display extension xdebug
    target:
      XDEBUG
    
  # mysql_version:
  #   label:
  #     MySQL version
  #   hint:
  #     Select MySQL version
  #   type:
  #     select
  #   values:
  #     - "5.0"
  #     - "7.0"
  #   target:
  #     MYSQL_VERSION

  # customize_server_root_path:
  #   label:
  #     Server root
  #   type:
  #     input
  #   values:
  #     /var/www
  #   hint:
  #     Server document root
  #   target:
      # SERVER_ROOT

#System defaults
system:
  show_localpath_selector:
    true
  #For collecting and storing DB in .env
  #db/user/password
  # db_credentials:
  #   true
  #Generate public ports for the docker image
  ports:
    http:
      LARAVEL_HOST_HTTP_PORT
